{% extends "base.html" %}
{% block title %}contact{% endblock title %}
{% block body %}
<style>
    body {
        background: url('/static/bg1.jpeg') no-repeat center center fixed; /* Replace 'your-image.jpg' with your image file path */
        background-size: cover;
    }
    .tet{
        padding:0px;
        margin: 0px -21px 0px ;
    }
    .content {
        background: rgba(255, 255, 255, 0.7); /* Optional: Add a semi-transparent background color to the content for better readability */
        padding: 20px;
    }
  </style>
  <div class="container-fluid ">
    <div class="container-xxl">
<div class="tet">
  <div class="img">
 <img src="/static/logo.jpeg" alt="" srcset="">
  
</div>
</div>
<div class="container my-4 text-center bg-dark text-white">

   
<ul>
    <p>

    <br>
          <h2><b>Welcome to Our Aaditya_Mohit Contact Page</b> </h2>
          <br>
          <br>

    We're thrilled that you've taken the time to connect with us at Hotel Mohit, your online destination for a remarkable hospitality experience. At <b>Hotel Mohit</b>, we understand that seamless communication is vital to ensuring your stay with us is unforgettable.
    </p>
 
    
    <li> Whether you're a guest seeking information, a traveler planning your stay, a partner interested in collaboration, or if you simply wish to share your thoughts, this contact page is your gateway to connect with us. Your inquiries, suggestions, and feedback are incredibly valuable, and we are dedicated to providing prompt and insightful responses.</li>

   
    
    <li>You can get in touch using the contact form below or explore alternative ways to reach us:
    </li>
    
        <br>
        <br>

<b>Phone : 8540094216
    <br>
    Email: aadityamohit0308@gmail.com
    <br>
    We're excited to build lasting relationships and engage in conversations that help us elevate your experience with [Your Hotel Name].
    </b>
    
    <p>
        <br><br>
      <b><u>Thank you for considering <b>Hotel Mohit</b> as your choice for accommodation and for reaching out to us. Let's embark on this journey of creating unforgettable memories and exceeding your hospitality expectations.
</u></b>  
    </p>





</ul>








</div>

{% endblock body %}