{% extends "base.html" %}
 
{% block body %}

<div class="container-fluid mx-0 px-0 my-0">
    <div class="container-xxl">
<div class="tet">
  <div class="img">
 <img src="/static/logo.jpeg" alt="" srcset="">
  
</div>
</div>
<div class="container my-4">
    <form  action="{% url 'form' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Trust Aaditya_Mohit Secure portal </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-3">
            <label for="pincode" class="form-label">Pincode</label>
            <input type="Number" class="form-control" id="pincode" name="pincode">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}
