{% extends "base.html" %}
{% block title %}Meat Love{% endblock title %}
{% block body %}
<style>
  body {
      background: url('/static/logo1.jpeg') no-repeat center center fixed; /* Replace 'your-image.jpg' with your image file path */
      background-size: cover;
  }
  .content {
      background: rgba(255, 255, 255, 0.7); /* Optional: Add a semi-transparent background color to the content for better readability */
      padding: 20px;
  }
</style>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully Entered the AAditya_Mohit secure portal. Book your SnAcks Now </p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <hr>
  <p class="mb-0">Heart wants , Taste NOw</p>
</div>
<div class="container mx-0 my-0 px-0"> 
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="/static/vimg1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Royal PiSta-BaDaM </p>
        <strong> Only At 800 |-</strong>
          <a href="/payment" class="btn btn-success">Dive Here !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mid Night Delivery</p>
          <strong> Only At 149 |-</strong>
          <a href="/payment" class="btn btn-warning"> Dive in !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">New Arrivals ! </p>
          <strong> Only At 1000 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Same Day Delivery </p>
          <strong> Only At 1000 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Most Purchased one ! </p>
          <strong> Only At 700 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Chicken PeriPeri</p>
       <strong>Only at 179 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg7.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Gujrati Chicken\</p>
          <strong> Only At 300 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Moya Chicken </p>
          <strong> Only At 900 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mexican GRill </p>
          <strong> Only At 700 |-</strong>
          <a href="/payment" class="btn btn-warning">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg10.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
         <p class="card-text">Chicken MaryLand </p>
         <strong> Only At 800 |-</strong>
          <a href="/payment" class="btn btn-success">Dive Here !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg11.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"> </p>
            <p class="card-text">RoYaL Chicken  </p>
            <a href="/payment" class="btn btn-success">Dive Here !</a>
         <strong> Only At 100 |-</strong>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/vimg12.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <strong> Only At 150 |-</strong>
         <p class="card-text">Chicken Masala </p>
          <a href="/payment" class="btn btn-success">Dive Here !</a>
        </div>
      </div>
</div>
</div>
</div>   
{% endblock body %}