{% extends "base.html" %}
{% block title %}Snacks FOr Snacks{% endblock title %}
{% block body %}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully Entered the AAditya_Mohit secure portal. Book your SnAcks Now </p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <hr>
  <p class="mb-0">Heart wants , Taste NOw</p>
</div>
<div class="container mx-0 my-0 px-0"> 
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="/static/snack1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Royal PiSta-BaDaM </p>
        <strong> Only At 800 |-</strong>
          <a href="/payment" class="btn btn-success">Dive Here !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mid Night Delivery</p>
          <strong> Only At 500 |-</strong>
          <a href="/payment" class="btn btn-warning"> Dive in !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">New Arrivals ! </p>
          <strong> Only At 1000 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Same Day Delivery </p>
          <strong> Only At 1000 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Most Purchased one ! </p>
          <strong> Only At 700 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">HEaLThY MaKHana</p>
          <strong>OnLy at 590 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack7.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Biscuit-Chip </p>
          <strong> Only At 600 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mom's Cake </p>
          <strong> Only At 900 |-</strong>
          <a href="/payment" class="btn btn-danger">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack13.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Vani-Vanilla  </p>
          <strong> Only At 900 |-</strong>
          <a href="/payment" class="btn btn-warning">Dive In !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack10.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
         <p class="card-text">Dry-DAtes </p>
         <strong> Only At 1800 |-</strong>
          <a href="/payment" class="btn btn-success">Dive Here !</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack11.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"> </p>
            <p class="card-text">RoYaL PistA  </p>
            <a href="/payment" class="btn btn-success">Dive Here !</a>
         <strong> Only At 1900 |-</strong>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/snack12.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <strong> Only At 1900 |-</strong>
         <p class="card-text">Oreo Voucher </p>
          <a href="/payment" class="btn btn-success">Dive Here !</a>
        </div>
      </div>
</div>
</div>
</div>   
{% endblock body %}